* {
    cursor: pointer;
}

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.game-canvas {
    /* border: 2px solid #000; */
    border-radius: 5px;
    display: block;
    background-color: #000000;
}

.hero-menus {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.hero-menu {
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
